// Neutras
// $black: #101C36;
$black: #151B26;
$white: #fff;

// Tons de Cinza
$grey1: #EBEBEB;
$grey2: #D9D9D9;
$grey3: #BFBFBF;
$grey4: #A6A6A6;
$grey5: #8C8C8C;
$grey6: #3F3F42;

// Base
$base: #BB2020;

// Pokemon Type
$fairy: #E0A5DD;
$steel: #BBB9D1;
$dark: #776A5F;
$dragon: #8755E9;
$ghost: #67508A;
$rock: #B9A244;
$bug: #99A242;
$psychic: #CC4D76;
$flying: #AA92D1;
$ground: #E3C276;
$poison: #90308A;
$fight: #BE0E28;
$ice: #9FD5D1;
$grass: #76CC5C;
$electr: #F7CF4B;
$water: #6A8DE4;
$fire: #F1793B;
$normal: #A2A27C;